#home {
  background: #eeeeee;
  /* height: 5em; */
  /* position: relative; */
  /* max-height: 5em; */
  /* min-width: 100vw; */
}

.thumbnail {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif !important;
  /* font-family: "Times New Roman", Baskerville, "Baskerville Old Face",
    "Hoefler Text", Garamond, "Times New Roman", serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

header {
  background-color: #eeeeee;
}

:root {
  --active-brightness: 0.85;
  --border-radius: 5px;
  --box-shadow: 2px 2px 10px;
  --color: #118bee;
  --color-accent: #118bee15;
  --color-bg: #fff;
  --color-bg-secondary: #e9e9e9;
  --color-link: #118bee;
  --color-secondary: #920de9;
  --color-secondary-accent: #920de90b;
  --color-shadow: #f4f4f4;
  --color-table: #118bee;
  --color-text: #000;
  --color-text-secondary: #999;
  --font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Ubuntu, Roboto,
    Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 1.5;
  --width-card: 285px;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-content: 1080px;
}

#image_header {
  background: url("/images/nations-planet.jpeg") no-repeat center center;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  background-size: contain;
  /* background-size: 100% 100%; */
}
